<!DOCTYPE html>
<html lang="en">

<head>
	{{>header}}
	<script src="/js/dashboard.js"></script>
</head>

<body>

	<div class="dashboardGrid">
		<div class="sidebar bg-light">

			<div class="sidebarImg mt-5 rounded-circle bg-primary">
				<i id="placeholderIcon" class="fas fa-user fa-5x pt-2 pl-3 text-white text-center"></i>
			</div>
			<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center">
				<h4>{{userDetails.businessName}}</h4>
			</div>
			<div class="sidebarMenu">
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center {{activeLink "overview" pagename}}">
					<a href="/dashboard/overview">Overview</a>
				</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center {{activeLink "orders" pagename}}">
					<a href="/dashboard/orders">Orders</a>
				</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center {{activeLink "categories" pagename}}">
					<a href="/dashboard/categories">
						Categories
					</a>
				</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center {{activeLink "products" pagename}}">
					<a href="/dashboard/products">
						Products
					</a>
				</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center {{activeLink "customize" pagename}}">
					<a href="/dashboard/customize">
						Customize
					</a>
				</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center {{activeLink "report" pagename}}">
					<a href="/dashboard/report">
						Report
					</a>
				</div>
				<div></div>
			</div>
			<div class="sidebarFooter mb-5">
				<a href="/dashboard/settings"><span><i class="fas fa-cog fa-2x pr-3"></i></span></a>
				<a href="/logout"><span><i class="fas fa-sign-out-alt fa-2x"></i></span></a>
			</div>

		</div>

		<div class="dynamic">
			{{{body}}}

		</div>
	</div>
</body>
{{> addCategoryModal}}
{{> ordersDetail}}
{{> cancelConfirm}}
{{> addOrderModal}}
{{> addProductModal}}

</html>