<!DOCTYPE html>
<html lang="en">

<head>
	{{>header}}
	<script src="/js/dashboard.js"></script>
</head>

<body>

	<div class="dashboardGrid">
		<div class="sidebar bg-light">



			<div class="d-flex flex-column align-items-center justify-content-center">
				<div class="sidebarImg mt-5 mb-2 rounded-circle bg-primary">
					<i id="placeholderIcon" class="fas fa-user fa-5x pt-2 pl-3 text-white text-center"></i>
				</div>
				<p class="text-muted">{{userDetails.businessName}}</p>
			</div>


			<div class="sidebarMenu">
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center {{activeLink "overview" pagename}}">
					<a class="text-muted" href="/dashboard/overview">Overview</a>
				</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center {{activeLink "orders" pagename}}">
					<a class="text-muted" href="/dashboard/orders">Orders</a>
				</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center {{activeLink "categories" pagename}}">
					<a class="text-muted" href="/dashboard/categories">
						Categories
					</a>
				</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center {{activeLink "products" pagename}}">
					<a class="text-muted" href="/dashboard/products">
						Products
					</a>
				</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center {{activeLink "customize" pagename}}">
					<a class="text-muted" href="/dashboard/customize">
						Customize
					</a>
				</div>
				<div class="sidebarMenuItem pt-2 pb-2 w-100 text-center {{activeLink "report" pagename}}">
					<a class="text-muted" href="/dashboard/report">
						Report
					</a>
				</div>
				<div></div>
			</div>
			<div class="sidebarFooter mb-5">
				<a class="pr-3" href="/dashboard/settings">
					<i id="dashboard-settings" class="fas fa-cog fa-2x text-muted"></i>
				</a>
				<a href="/logout">
					<i id="dashboard-logout" class="fas fa-sign-out-alt fa-2x text-muted"></i>
				</a>
			</div>

		</div>

		<div class="dynamic">
			{{{body}}}

		</div>
	</div>
</body>
{{> addCategoryModal}}
{{> ordersDetail}}
{{> cancelConfirm}}
{{> addOrderModal}}
{{> addProductModal}}

</html>