<!DOCTYPE html>
<html lang="en">

<head>
	{{>site_header}}
	<link rel="icon" type="image/jpg" href="/siteData/{{siteData._id}}/img/avatar/avatar.png" />
	<link rel="stylesheet" href="/css/sites/siteCommon.css">
	<title>{{siteData.businessName}} | eEz Commerce</title>
</head>
{{> site_productDetail}}

<body>
	<div class="site-navbar">
		<div class="site-navbar-logo">
			<a href="{{siteData.baseUrl}}">
				<img src="/siteData/{{siteData._id}}/img/avatar/avatar.png" alt="{{siteData.businessName}}" style="width: auto; height:50px;">
			</a>
		</div>

		<div class="site-navbar-right">
			<div class="site-navlinks">
				<a href="{{siteData.baseUrl}}">Home</a>
				<a href="{{siteData.baseUrl}}/store">Shop</a>
				<a href="{{siteData.baseUrl}}/about">About</a>
			</div>
		</div>
		<div class="float-right">
			<a href="{{siteData.baseUrl}}/shoppingCart" class="text-light">
				<i class="fas fa-shopping-cart fa-lg"></i><span class="badge badge-light">{{cart.totalQty}}</span>

			</a>
		</div>
	</div>

	<div class="site-body">
		{{{body}}}
	</div>
	

	<footer class="site-footer">
		&copy; {{siteData.businessName}}, &nbsp; <a href="/">eEz Commerce 2020</a>
	</footer>
</body>


</html>