<!DOCTYPE html>
<html lang="en">

<head>
	{{>websiteHeader}}
	<link rel="icon" type="image/jpg" href="/siteData/{{siteData._id}}/img/avatar/avatar.png" />
	<title>{{siteData.businessName}} | eEz Commerce</title>
	<style>
		.splash {
			min-height: 400px;
		}

		.container-fluid {
			min-height: 100vh;
		}
		.card{
			transition: all 0.4s ease;
			cursor: pointer;
		}

		.card:hover{
			box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.2) !important;
			transform: translateY(-5px);
		}

		.card-type{
			list-style: none;
			width: 100%;
			margin: 0px;
			padding: 0px;
			text-align: center;
		}

		.card-type li{
			margin-right: 5px;
			margin-top: 5px;
			display: inline-block;
		}
	</style>
</head>

<body>
	<div class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
		<div class="navbar-brand">
			<a class="text-light" href="{{siteData.baseUrl}}">
				<img src="/siteData/{{siteData._id}}/img/avatar/avatar.png" style="width: auto;height:50px;">
			</a>
		</div>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="{{siteData.baseUrl}}">Home</a>
				<a class="nav-item nav-link active" href="{{siteData.baseUrl}}/store">Shop</a>
			</div>
		</div>
		<div class="float-right">
			<a href="{{siteData.baseUrl}}/shoppingCart" class="text-light">
				<i class="fas fa-shopping-cart fa-lg"></i><span class="badge">{{cart.totalQty}}</span>
			</a>
		</div>
	</div>
	{{{body}}}
</body>
	<footer class="bg-light text-center pt-5 pb-5">
		&copy; {{siteData.businessName}}, <a href="/">eEz Commerce 2020</a>
	</footer>

</html>