<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 customize-half">
			<div class="row mt-4 mx-0 justify-content-center">
				<div class="text-center">
					<h1>Customize</h1>
				</div>
			</div>
			<div class="row mx-0 text-center">
				<form action="/customize" novalidate class="needs-validation mt-3 w-100">
					<div class="row">
						<div class="form-group col-12 mb-5">
							<h4>Theme</h4>
							<select class="custom-select" name="themeId">
								<option {{#is customizations.themeId "default"}} selected {{/is}} value="default">
									Default
								</option>

								<option {{#is customizations.themeId "dark"}} selected {{/is}} value="dark">
									Dark
								</option>

								<option {{#is customizations.themeId "sideBarNav"}} selected {{/is}} value="sideBarNav">
									Side Navigation
								</option>

								<option {{#is customizations.themeId "sideBarNav_dark"}} selected {{/is}}
									value="sideBarNav_dark">
									Side Navigation (Dark)
								</option>
							</select>

						</div>

						<div class="form-group col-md-12 mb-5">
							<p>Show "about" blurb on homepage?</p>
							<div class="row">
								<div class="form-check col-6 ">

									<input class="form-check-input" type="radio" name="showAbout" id="showAbout1"
										value="true" {{#isTruthy customizations.showAbout}} checked {{/isTruthy}}>

									<span class="checked"></span>

									<label class="form-check-label" for="showAbout1">
										Yes
									</label>
								</div>
								<div class="form-check col-6 ">
									<input class="form-check-input" type="radio" name="showAbout" id="showAbout2"
										value="false" {{#isFalsey customizations.showAbout}} checked {{/isFalsey}}>

									<span class="checked"></span>

									<label class="form-check-label" for="showAbout2">
										No
									</label>
								</div>
							</div>

						</div>

						<div class="form-group col-md-6 mb-5">
							<p>Use theme-suggested font?</p>
							<div class="row">
								<div class="form-check col-6 ">
									<input class="form-check-input" type="radio" name="useThemeFont" id="useThemeFont1"
										value="true" {{#isTruthy customizations.useThemeFont}} checked {{/isTruthy}}>

									<span class="checked"></span>

									<label class="form-check-label" for="useThemeFont1">
										Yes
									</label>
								</div>
								<div class="form-check col-6 ">
									<input class="form-check-input" type="radio" name="useThemeFont" id="useThemeFont2"
										value="false" {{#isFalsey customizations.useThemeFont}} checked {{/isFalsey}}>

									<span class="checked"></span>

									<label class="form-check-label" for="useThemeFont2">
										No
									</label>
								</div>
							</div>

						</div>


						<div class="form-group col-md-6 mb-5">
							<p>Use theme-suggested colours?</p>
							<div class="row">
								<div class="form-check col-6 ">
									<input class="form-check-input" type="radio" name="useThemeColour"
										id="useThemeColour1" value="true" {{#isTruthy customizations.useThemeColour}}
										checked {{/isTruthy}}>

									<span class="checked"></span>

									<label class="form-check-label" for="useThemeColour1">
										Yes
									</label>
								</div>
								<div class="form-check col-6 ">
									<input class="form-check-input" type="radio" name="useThemeColour"
										id="useThemeColour2" value="false" {{#isFalsey customizations.useThemeColour}}
										checked {{/isFalsey}}>

									<span class="checked"></span>

									<label class="form-check-label" for="useThemeColour2">
										No
									</label>
								</div>
							</div>

						</div>



						<div class="form-group col-md-6">
							<label for="primaryColor">
								Primary Color:
							</label>
							<input required value="#{{customizations.primaryColor}}"
								data-jscolor="{width:500, height:300}" class="form-control jscolor text-center"
								name="primaryColor">
						</div>

						<div class="form-group col-md-6">
							<label for="secondaryColor">
								Secondary Color:
							</label>

							<input required data-jscolor="{width:500, height:300}"
								value="#{{customizations.secondaryColor}}" class="form-control jscolor text-center"
								name="secondaryColor">
						</div>

						<div class="form-group col-md-6">
							<label for="darkColor">
								Dark Color:
							</label>
							<input required data-jscolor="{width:500, height:300}" value="#{{customizations.darkColor}}"
								class="form-control jscolor text-center" name="darkColor">
						</div>

						<div class="form-group col-md-6">
							<label for="lightColor">
								Light Color:
							</label>

							<input required data-jscolor="{width:500, height:300}"
								value="#{{customizations.lightColor}}" class="form-control jscolor text-center"
								name="lightColor">
						</div>



					</div>

					<div class="server-response text-danger"></div>

					<div class="row">
						<div class="col-12 mt-4 mb-4">
							<button class="btn btn-primary rounded-pill" type="submit">
								Save Customization
							</button>
						</div>
					</div>

				</form>

			</div>
		</div>

		<div class="col-md-6 mx-0">
			<iframe class="livePreview" src="/sites/{{userDetails._id}}"></iframe>
		</div>
	</div>
</div>