<div class="container">
	<div class="row">
		<div class="col-12 mt-4 mb-5">
			<h1>Overview</h1>
		</div>
	</div>
 <div class="row">
        <div class="col-12">
            <a target="_blank" href="/sites/{{userDetails._id}}">
                <button class="btn btn-primary">View Site</button>
            </a>
        </div>
    </div>
	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col-md-6">
					<h4>Top Selling Products</h4>
					<table class="table table-striped mt-4">
						<thead class="table-">
							<tr>
								<th>Product</th>
								<th># of Purchases</th>
							</tr>

						</thead>
						{{#each topSellers}}
						<tr>
							<td>{{name}}</td>
							<td>{{purchased}}</td>
						</tr>
						{{/each}}
					</table>
				</div>
				<div class="col-md-6">
					<h4>Latest Orders</h4>
					<table class="table table-striped mt-4">
						<thead>
							<tr>
								<th>Address</th>
								<th>Status</th>
								<th>Date</th>
							</tr>

						</thead>
						{{#each latestOrders}}
						<tr>
							<td>{{destAddress}}</td>
							<td>{{status}}</td>
							<td>{{moment this.created_at "MMMM Do YYYY, h:mm:ss a"}}</td>
						</tr>
						{{/each}}
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center mt-5">
					<h4><b>Sales by Category</b></h4>
					<h5 id="no-sales"></h5>
				</div>
				<div class="col-12 my-5">
					<canvas id="myChart" height="100px">

					</canvas>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>



	$.get("/salesByCategory", (data) => {
		let catLabels = [];
		let catVals = [];
		data.forEach(cat => {
			catLabels.push(cat._id)
			catVals.push(cat.count)
		});

		if(data.length < 1){
			$("#no-sales").text("No sales yet")
		}


		var ctx = document.getElementById('myChart').getContext('2d');
		var chart = new Chart(ctx, {
			// The type of chart we want to create
			type: 'pie',

			// The data for our dataset
			data: {
				labels: catLabels,
				datasets: [{
					label: 'Sales',
					backgroundColor: ["#55C0A7", "#ECF8F5", "#7BCEBB", "#C6EAE1", "#A1DCCE", "#B3E3D8", "#8ED5C4", "#D9F1EB", "#68C7B1"],
					data: catVals
				}]
			},

			// Configuration options go here
			options: {
				responsive: true,
				title: {
					text: "Sales by Category"
				},
				legend: {
					display: false
				}
			}
		});
	})
</script>