<div class="container">
	<div class="row">
		<div class="col-12 mt-4 mb-5">
			<h1>Overview</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="row">
				<div class="col-md-6">
					<h4>Top Selling Products</h4>
					<table class="table table-striped mt-4">
						<thead class="table-">
							<tr>
								<th>Product</th>
								<th># of Purchases</th>
							</tr>

						</thead>
						{{#each topSellers}}
						<tr>
							<td>{{name}}</td>
							<td>{{purchased}}</td>
						</tr>
						{{/each}}
					</table>
				</div>
				<div class="col-md-6">
					<h4>Latest Orders</h4>
					<table class="table table-striped mt-4">
						<thead>
							<tr>
								<th>Address</th>
								<th>Status</th>
								<th>Date</th>
							</tr>

						</thead>
						{{#each latestOrders}}
						<tr>
							<td>{{destAddress}}</td>
							<td>{{status}}</td>
							<td>{{moment this.created_at "MMMM Do YYYY, h:mm:ss a"}}</td>
						</tr>
						{{/each}}
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-center mt-5">
					<h4>Sales by category</h4>
				</div>
				<div class="col-12 my-3">
					<canvas id="myChart" height="100px">

					</canvas>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
	var ctx = document.getElementById('myChart').getContext('2d');
	var chart = new Chart(ctx, {
		// The type of chart we want to create
		type: 'doughnut',
		
		// The data for our dataset
		data: {
			labels: ['General', 'Sale', 'Boats', 'Sanitizers'],
			datasets: [{
				label: 'Sales',
				backgroundColor: ["#fc5c65", "#45aaf2", "#fd9644", "#4b7bec", "#fed330", "#a55eea", "#778ca3", "#eb3b5a", "#2d98da"],
				data: [132, 10, 20, 20]
			}]
		},

		// Configuration options go here
		options: {
			responsive: true,
			title: {
				text: "Sales by Category"
			},
			legend: {
				display: false
			}
		}
	});
</script>