<div class="container">
	<div class="row m-0">
		<div class="pb-2 mt-4 mb-2 col-md-4">
			<!--header-->
			<h1><strong>Products</strong></h1>
		</div>
	</div>
	<div class="row">
		<div class="offset-8 col-md-4">
			<button class="btn badge-pill btn-outline-primary btn-sm" data-toggle="modal"
				data-target="#addProductModal">
				Add Product
			</button>

		</div>
	</div>

	<div class="container-fluid">

		<div class="row">
			<div class="col-md-12">
				<div class="table" id="order-data">
					<table class="table table-striped table-hover">
						<div class="table responsive">
							<thead>
								<tr>
									<th>SKU</th>
									<th>Product Name</th>
									<th>Inventory</th>
									<th>Price</th>
									<th># of Purchases</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{{#each products}}
								<tr class="productRow" data-id='{{_id}}'>
									<th scope="row">{{SKU}}</th>
									<td>{{name}}</td>
									<td>{{quantity}}</td>
									<td>{{price}}</td>
									<td>{{purchased}}</td>
									<td>
										<button type="button" class="btn btn-danger deleteButton">
											<i class="fas fa-trash deleteButton" data-id="{{_id}}"></i>
										</button>
									</td>

								</tr>
								{{/each}}

							</tbody>
						</div>
					</table>
				</div>
				</table>
			</div>
			</table>
		</div>
		<!--table-->
	</div>
	<!--row-->
</div>

<script>
	function deleteRow(rowId) {
		var deleteIt = confirm("Are you sure you want to delete this product?");
		if (deleteIt) {
			$.get("/deleteProduct/" + rowId, (data) => {

				$('.productRow').attr('data-target', '#cancelOrderModal');
				console.log("request complete" + data.success);
			});
		} else {
		}
		$(this).on("hide.bs.modal", function () {
			$('.productRow').attr('data-target', '#productDetail');
		});

	}
	$(".productRow").click((e) => {

		if ($(e.target).hasClass("deleteButton")) {
			deleteRow($(e.currentTarget).data("id"));		
		} else {
			
			$("#productDetail").modal("show");

			id = $(e.currentTarget).data("id");

			$.get("/getProductDetail/" + id, (data) => {


				$('#productDetail').find('#title').html(data.product.name);
				$('#productDetail').find('#skuDetail').html(data.product.SKU);
				$('#productDetail').find('#descDetail').html(data.product.description);
				$('#productDetail').find('#qtyDetail').val(data.product.quantity);
				$('#productDetail').find('#priceDetail').val(data.product.price);
				$('#productDetail').find('#soldDetail').val(data.product.purchased);
			})
		}


	})


</script>