<div class="container">
	<div class="row mt-4">
		<h1>Hello, {{userDetails.businessName}}</h1>
	</div>
	<div class="row mt-3">
		<h2>General Settings</h2>
	</div>
	<div class="row">

		<form action="/edit-user" novalidate class="needs-validation col-md-12 mt-3">
			<div class="form-group">
				<label for="businessName">Business Name:</label>

				<input autocomplete="off" minlength="2" maxlength="64" required class="form-control" type="text"
					name="businessName" value="{{userDetails.businessName}}">
			</div>

			<div class="form-group">
				<label for="email">
					Email:
				</label>
				<input name="email" type="email" minlength="3" maxlength="256" required class="form-control"
					value="{{userDetails.email}}">

				{{#if userDetails.isVerified}}
				{{else}}
				<span class="text-danger">
					Your email has not been verified.
					<a class="text-danger" href="/dashboard/settings/resendVerification">
						<u>Request</u>
					</a> a new verification?
				</span>
				{{/if}}
			</div>

			<div class="form-group">
				<label for="questionOne">Question 1:</label>
				<select class="form-control mb-4" name="questionOne">
					{{#each securityQuestions}}
					<option {{#isEqual ../userDetails.securityAnswers.0.index @index}}selected="selected" {{/isEqual}} value="{{this.id}}">
						{{this.question}}
					</option>
					{{/each}}

					<input class="form-control mt-2 mb-4" placeholder="Answer" name="answerOne" type="text" required
						minlength="4" autocomplete="off" value="{{userDetails.securityAnswers.0.answer}}">
				</select>

				<label for="questionTwo">Question 2:</label>
				<select autocomplete="off" class="form-control" name="questionTwo">
					{{#each securityQuestions}}
					<option {{#isEqual ../userDetails.securityAnswers.1.index @index}}selected="selected" {{/isEqual}} value="{{this.id}}">
						{{this.question}}
					</option>
					{{/each}}

					<input class="form-control mt-2" placeholder="Answer" name="answerTwo" type="text" required
						minlength="4" autocomplete="off" value="{{userDetails.securityAnswers.1.answer}}">
				</select>


				<button class="btn btn-primary rounded-pill float-right mt-5" type="submit">
					Save General Settings
				</button>


			</div>

			<div class="server-response text-danger"></div>

		</form>
	</div>

	<div class="row mt-5">
		<h2>Change Password</h2>
	</div>

	<div class="row">
		<form action="/change-password" novalidate class="needs-validation col-md-12 mt-3">
			<label for="originalPassword">Current Password:</label>
			<input name="originalPassword" class="form-control mb-4" type="password" required
				autocomplete="new-password">

			<label for="newPassword">New Password:</label>
			<input name="newPassword" class="confirmablePassword form-control mb-4" type="password"
				autocomplete="new-password" required>

			<label for="newConfirmPassword">Confirm New Password:</label>
			<input name="newConfirmPassword"
				class="form-control confirmablePasswordDestination checkPatternWhenTyping mb-4" type="password"
				autocomplete="new-password" required>

			<button class="btn btn-primary rounded-pill float-right mt-5 mb-2" type="submit">
				Change Password
			</button>
		</form>
	</div>
</div>