<!DOCTYPE html>
<html lang="en">

<head>
	{{>websiteHeader}}
	<title>{{siteData.businessName}} | eEz Commerce</title>
	<style>
		.splash{
			min-height: 400px;
		}

		.container-fluid{
			min-height: 100vh;
		}
	</style>
</head>

<body>
	<div class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
		<div class="navbar-brand">
			<a class="text-light" href="{{siteData.baseUrl}}">
				{{siteData.businessName}}
			</a>
		</div>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="{{siteData.baseUrl}}">Home</a>
				<a class="nav-item nav-link active" href="{{siteData.baseUrl}}/store">Shop</a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 splash d-flex justify-content-center align-items-center bg-primary">
				<h1 class="p-2">Home</h1>
			</div>
		</div>

	</div>



	<footer class="bg-light text-center pt-5 pb-5">
		&copy; {{siteData.businessName}}, <a href="/">eEz Commerce 2020</a>
	</footer>


</body>

</html>