<!DOCTYPE html>
<html lang="en">

<head>
	{{>websiteHeader}}
	<title>{{siteData.businessName}} | eEz Commerce</title>
	<style>
		.splash {
			min-height: 400px;
		}

		.container-fluid {
			min-height: 100vh;
		}

		.productCard {
			height: 300px;
		}
	</style>
</head>

<body>
	<div class="navbar navbar-expand-lg bg-secondary navbar-dark fixed-top">
		<div class="navbar-brand">
			<a class="text-light" href="{{siteData.baseUrl}}">
				{{siteData.businessName}}
			</a>
		</div>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="{{siteData.baseUrl}}">Home</a>
				<a class="nav-item nav-link active" href="{{siteData.baseUrl}}/store">Shop</a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 splash d-flex justify-content-center align-items-center bg-primary">
				<h1 class="p-2">Shop</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8 offset-lg-2 mt-4 mb-4">
				<div class="row text-center">

				{{#isTruthy prods}}
					{{#each prods}}
					<div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4 productCard">
						<div class="col-12 bg-light p-2 h-100">
							<div class="row h-100 flex-column justify-content-between">
								<div>
									<h4>{{name}}</h4>
								</div>
								<div>
									"img"
								</div>
								<div>${{toFixed price 2}}</div>
							</div>
						</div>
					</div>
					{{/each}}
				{{/isTruthy}}
				{{#isFalsey prods}}
					<div class="col-12 py-5">
						<h4>No products yet, check back soon.</h4>
					</div>
				{{/isFalsey}}

				</div>
			</div>
		</div>
	</div>



	<footer class="bg-light text-center pt-5 pb-5">
		&copy; {{siteData.businessName}}, <a href="/">eEz Commerce 2020</a>
	</footer>


</body>

</html>